.clock {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: rgba(245, 246, 242, 0.926);
    border-color: rgb(4, 141, 29);
    border-radius: 200px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;    
    box-shadow: 0px 0px 20px rgba(36, 112, 204, 0.773);
  }

  .flag {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: rgba(245, 246, 242, 0.926);
    border-radius: 200px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 0px 8px rgb(250, 10, 10);
    animation: minuteNeedle 60s infinite;
    transform-origin: center center;
    animation-timing-function: linear;
  }

  @keyframes minuteNeedle {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .time {
    position: absolute;
    width: 370px;
    height: 370px;
    background-color: rgba(0, 0, 0, 255);
    border-color: rgb(75, 141, 4);
    border-radius: 200px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 0px 0px rgba(183, 218, 93, 0.773);
  }

  .hour {
    position: absolute;
    background-color: rgb(251, 28, 28);
    width: 8px;
    height: 150px;
    top: 50px;
    left: 200px;
    border-radius: 4px;
    animation: hourNeedle 43200s infinite;
    transform-origin: bottom center;
    animation-timing-function: linear;
  }

  @keyframes hourNeedle {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .minutes {
    position: absolute;
    background-color: rgb(251, 28, 28);
    width: 6px;
    height: 180px;
    top: 20px;
    left: 200px;
    border-radius: 3px;
    animation: minuteNeedle 3600s infinite;
    transform-origin: bottom center;
    animation-timing-function: linear;
  }

  @keyframes minuteNeedle {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .seconds {
    position: absolute;
    background-color: rgb(1, 38, 90);
    width: .09px;
    height: 380px;
    top: 10px;
    left: 200px;
    border-radius: 2px;
    animation: minuteNeedle 60s infinite;
    transform-origin: center center;
    animation-timing-function: linear;
  }

  @keyframes minuteNeedle {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


  .circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(251, 28, 28);
    border-radius: 200px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }